@page
@model VVC.SisCTRazorPages.Pages_Curso.indexModel

@{
    ViewData["Title"] = "index";
}

<h1>index</h1>

<p>
    <a asp-page="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Curso[0].Titulo)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Curso[0].StartDate)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Curso[0].EndDate)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Curso[0].Aluno)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model.Curso) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Titulo)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.StartDate)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.EndDate)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Aluno.Email)
            </td>
            <td>
                <a asp-page="./Edit" asp-route-id="@item.Id">Edit</a> |
                <a asp-page="./Details" asp-route-id="@item.Id">Details</a> |
                <a asp-page="./Delete" asp-route-id="@item.Id">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
